<div class="card container mx-auto flex items-center justify-center h-full">
    <div class="flex items-center justify-center h-full">
        <form (ngSubmit)="login()" [formGroup]="form"
            class="card-body rounded-xl p-6 flex flex-col gap-2 w-[400px] shadow-[0_0_2px_0_rgba(145,158,171,0.2),0_12px_24px_-4px_rgba(145,158,171,0.12)]">
            <img src="https://www.comping.hr/logo_comping1.205926a315b5b11d.svg" alt="logo" class="w-[150px] mx-auto">
            <div class="mb-1 w-full">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" name="username" formControlName="username">
                </mat-form-field>
                <small class="error text-red-500 block ">{{
                    errorUtil.showErrors('username', form, submitted)
                    }}</small>
            </div>

            <div class="mb-1 w-full">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" name="password" formControlName="password">

                </mat-form-field>
                <small class="error text-red-500">{{
                    errorUtil.showErrors('password', form, submitted)
                    }}</small>
            </div>
            <div>
                <button mat-raised-button color="primary" class="btn btn-primary w-full" type="submit">
                    Login
                </button>
            </div>
            <p style="color: red;" *ngIf="error">Username or Password Incorrect ! </p>
        </form>
    </div>
</div>